
<button class="back-button" mat-button mat-raised-button routerLink="/posts">
  <mat-icon>keyboard_backspace</mat-icon> Back to list
</button>

<mat-card *ngIf="post; else loader">
  <mat-card-header>
    <mat-card-title>
      {{ post.title }}
    </mat-card-title>
  </mat-card-header>
  <img *ngIf="post.image_url" mat-card-image [src]="post.image_url">
  <mat-card-content>
    {{ post.content }}
  </mat-card-content>
</mat-card>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
