<h1 mat-dialog-title>Are you sure?</h1>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Not really</button>
  <button mat-button mat-raised-button color="warn" [mat-dialog-close]="true">Yes, sure</button>
</div>
