
<button class="add-button" mat-button mat-raised-button routerLink="/posts/new">
  <mat-icon>add</mat-icon> Add a post
</button>

<mat-card>
  <mat-card-header>
    <mat-card-title>List of posts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table *ngIf="posts; else loader" mat-table [dataSource]="posts" class="post-table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>Creation</th>
        <td mat-cell *matCellDef="let element">{{element.created_at | date}}</td>
      </ng-container>

      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef>Last edition</th>
        <td mat-cell *matCellDef="let element">{{element.updated_at | date}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" routerLink="./{{element.id}}/view">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="primary" routerLink="./{{element.id}}/edit">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDeletePost(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>

