
<button class="back-button" mat-button mat-raised-button routerLink="/posts">
  <mat-icon>keyboard_backspace</mat-icon> Back to list
</button>

<mat-card *ngIf="!!mode; else loader">
  <mat-card-header>
    <mat-card-title>
      {{ title }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Title*" formControlName="title">
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput placeholder="Content*" formControlName="content"></textarea>
        </mat-form-field>

        <mat-form-field class="half-width">
          <input matInput placeholder="Latitude" formControlName="lat">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input matInput placeholder="Longitude" formControlName="long">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Image url" formControlName="image_url">
        </mat-form-field>
      </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button routerLink="/posts">Cancel</button>
    <button mat-button mat-raised-button color="primary"
      (click)="onSave()" [disabled]="form.invalid">
      Save
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
